extends layout

block content
  h1= "PRIME RESTROOMS"
  ul.bathrooms
    each val in bathrooms
      li.bathroom(class=val.occupied === 1 ? "occupied" : undefined, id=val.name)
        div.indicator-container
          div.indicator
        h2= val.name
