extends layout

block content
  h1= "BATHROOMS"
  ul.bathrooms
  each val in bathrooms
    li.bathroom(class=val.occupied === 1 ? "occupied" : undefined, id=val.name)
      h2.glyphicon.glyphicon-tint= val.name
