doctype html
html
  head
    title= title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//cloud.webtype.com/css/13d3f5c4-524e-44f4-8bbf-ead2cd9fdc3d.css', rel='stylesheet', type='text/css')
    script(src='https://cdn.socket.io/socket.io-1.3.7.js')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script.
      var socket = io.connect('http://restrooms.primeacademy.io');
      socket.on('occupancy_update', function (data) {
        var bathroom = $('#'+data.bathroom);
        if (data.occupied) {
          bathroom.addClass("occupied");
        } else {
          bathroom.removeClass("occupied");
        }
      });
  body
    block content
